<!DOCTYPE html>
<html ng-app="juegoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-controller="juegoAppCtrl">
        <h3>Juego en la tienda:</h3>
        Juego que tengo en mi lista : {{gamesCounter}}

        <ul>
            <li ng-repeat="juego in juegos" >
                {{juego}} <a href="#" ng-click="addToGamesList(juego)" >Agregar juegos</a>
            </li>
        </ul>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>

</body>
</html>